* {
  font-family: "PT Serif", serif;
}

.navbaroveride {
  background-color: #807533;
}

.containeroverride {
  background-color: #ebd1b8;
  margin-top: 3em;
}

.jumbotronoverride {
  background-color: #d39600;
  margin-top: 2em;
}

.carouseloverride {
  margin-bottom: 1em;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: auto;
    height: 40em;
}

.welloverride {
  background: #d39600;
}
