* {
  font-family: "PT Serif", serif;
}

.navbaroveride {
  background-color: #807533;
}

.containeroverride {
  background-color: #ebd1b8;
  margin-top: 5em;
}

.jumbotronoverride {
  background-color: #d39600;
}
